body{
	font-size:12px;
	font-family: Verdana, Geneva, sans-serif;
	position:relative;
}

.wrapper{
	width:1160px;
	margin:0 auto;
	position:fixed;
  	top:75px;
  	right:0;
  	bottom:20px;
  	left:0;

}

.clearfix:after {
	clear: both;
}

.clearfix:before {
	content: '';
	display: table;
}

.col1, .col2, .col3{
	width:31%;
	height:98%;
	overflow:auto;
	padding: 10px;
	border:1px solid black;

}
.col1{
	float:left;
}
.col2{
	float:left;
	border: none;
	
}
.col3{
	float:right;
}

.col2{
	margin-left:8px;
}
.col1, .col3{
	width:35%;
}
.col2{
	width:26%;
	margin-left: 0;
}
.col1 ul, .col2 ul, .col3 ul{
	width:178px;
	padding-left: 10px;
	margin: 0;
	/*border:1px solid black;*/
	border-bottom: none;
	list-style-type: none;
	cursor:pointer;
	position: relative;


}

.col1 ul li, .col2 ul li, .col3 ul li{
	line-height: 15px;
}
.col2 ul{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	list-style-type:none;
	border: none;
	border-bottom:none !important;
	padding-left: 0 !important;
	margin-left:auto;
	margin-right:auto;
}
.col2 ul li{
	width:auto;
	display:inline-block;
	position:relative;
}
.col2 ul li:not(.arrow){
	margin-left:auto;
	margin-right:auto;
	padding-left:1px;
}
.col2 ul li div{
	border:1px solid black;
	padding:3px;
    width: 170px;
}

.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
._hover{
	position: absolute;
	top:0;
	left:188px;
	display: none;
	width: 190px !important;
	padding-left:5px;
	z-index: 10;
	border-left: 2px solid;
}

.pull-right > ul > li._hover {
    border-left: 0 none;
    border-right: 2px solid;
    left: -197px;
}

.col1 ul:hover ._hover, .col3 ul:hover ._hover,.col1 ul:hover,.col3 ul:hover {
	display: block;
	background:#ffe599 ;
	height: auto;
	cursor: pointer;
}
.col1 ul:hover ._hover, .col3 ul:hover ._hover, .col1 ul:hover li, .col3 ul:hover li {
    background: #ffe599;
}


.arrow{
	display:inline-block;
	font-size:35px;
	font-weight:900;
	width:35px !important;
	text-align:center;
	position:relative;
	-webkit-transform: translateY(-13px);
	-ms-transform: translateY(-13px);
	transform: translateY(-13px);
}
.title_i, .year_i{
	display:block;
	text-indent:5px;
}
.border_bottom{
	border-bottom:1px solid black !important;
}

.group:before,
.group:after {
	content: "";
	display:table;
}
.group:after{
	clear:both;
}
.group{
	zoom:1; /* IE6&7 */
}
.col2 ul{
	width: 87%;
	margin:0 auto !important;
}
.col2{
	padding: 0;
}
ul{
/* border: 1px solid black !important;*/
    padding-bottom: 20px;
}
.col2 ul{
 border: none !important;
}

.gray{
	background:#dddddd;
    pointer-events: none;
}
.search_section{
	width:auto;
	text-align:center;
	width:680px;
	height:24px;
	margin:0 auto;
	position:relative;
	margin-top:20px;
}
input[name="search"]{
	width:575px;
	border-radius:5px;
	border:1px solid black;
	padding:3px;
	padding-left:25px;

}
input[name="search_button"]{
    height:24px;
}
.search_icon{
	background: url('search.png') no-repeat;
	width:15px;
	display: inline-block;
	height:17px;
	position:absolute;
	left:10px;
	top:5px;
}

.search_section{
    width:630px;
}
input[name="search"]{
    width:525px;
}